img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* LAYOUT */

/* END LAYOUT */
/* HEADER */
.page_header{
    height: 70px;
    border: 1px solid black;
}
.logo_mobile{
    width: 50px;
}

.bell{
    color: orange;
    border: none;
    background-color: white;
}

.page_header ul,
.sidebar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.serch_bar{
    position: relative;
}

.serch_bar_input{
    width: 100%;
    border: none;
	padding-left: 30px;
    height: 42px;
	background-color: #e5e5e5;
	border-radius: 10px;
}
.serch_bar_icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
/* END HEADER */

.page_main{
    /* height: 100%; */
    height: calc(100% - 70px);
}

.sidebar{
    width: 70px;
    background-color: #051E34;
    flex-shrink: 0;
    align-items: center;
}

.content{
    flex-grow: 1;
    border: 1px solid black;
    overflow: auto;
}

.top_content{
    background-color: #1B72E8;
}

.students_online{
    padding: 10px;
}

.info_blaze{
    padding: 10px;
}

.add_student{
    padding: 10px;
}

.button_squere{
    background-color: #1B72E8;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.circle{
    border: 1px solid #165BBA;
    border-radius: 20px;
    padding: 5px;
    background-color: #165BBA;
}

.special_padding{
    padding: 0 5px;
}

.body_content{
    padding: 10px;
}

.class_avatar{
    width: 30px;
}
.line_height{
    line-height: 30px;
}

.icon_squere{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

#offcanvasRight{
    width: 100%;
}

/* @media(min-width:576px){
    .students_online{
        margin-top: 20px;
    }
} */

@media(min-width:768px){
    .top_content{
        display: flex;
        flex-wrap: wrap;
    }
    .info_blaze{
        padding:  10px;
        flex-grow: 2;
    }
    .students_online{
        padding: 10px;
        flex-grow: 1;
    }
    .add_student{
        padding: 10px;
        order: 2;
        
    }
    .body_content{
        display: flex;
        flex-wrap: wrap;
    }
    #offcanvasRight{
        width: 50%;
    }
}

@media (min-width:992px){
    .sidebar{
        padding: 0 60px;
    }
    .col-lg-8,
    .col-lg-4{
        padding: 0 10px;
    }
}