img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* LAYOUT */

/* END LAYOUT */
/* HEADER */
.page_header{
    height: 70px;
    border: 1px solid black;
}
.logo_mobile{
    width: 50px;
}

.page_header ul,
.sidebar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.serch_bar{
    position: relative;
}

.serch_bar_input{
    width: 100%;
    border: none;
	padding-left: 30px;
    height: 42px;
	background-color: #e5e5e5;
	border-radius: 10px;
}
.serch_bar_icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
/* END HEADER */

.page_main{
    height: 100%;
}

.sidebar{
    width: 70px;
    border: 1px solid black;
}

.content{
    flex-grow: 1;
    border: 1px solid black;
}

.top_content{
    background-color: #1B72E8;
}

.body_content{
    padding: 10px;
}

.class_avatar{
    width: 30px;
}
.line_height{
    line-height: 30px;
}

.icon_squere{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

@media(min-width:576px){
    .students_online{
        margin-top: 20px;
    }
}

@media(min-width:768px){
    .top_content{
        display: flex;
    }
    .info_blaze{
        padding: 0 10px;
        flex-grow: 1;
    }
    .students_online{
        padding: 0 10px;
    }
    .add_student{
        padding: 0 10px;
        order: 2;
    }
    .body_content{
        display: flex;
    }
}