*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* LAYOUT */
#app{
    height: 100vh;
}
/* END LAYOUT */
/* MINE UTILITIES */
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex{
    display: flex;
}

.aling_items_baseline{
    align-items: baseline;
}
/* END MINE UTILITIES */
/* HEADER */
.page_header{
    background-color: #F8F9FA;
    padding-top: 20px ;
    padding-bottom: 20px ;
}

.bg-FFFFFF{
    background-color: #FFFFFF;
}

.ul_page_header{
    display: flex;
    
}

.ms_input_text{
    flex-grow: 1;
    font-size: small;
}

.ms_input_text input{
    width: 100%;
    padding: 10px 20px;
}
.magnifying_glass{
    position: absolute;
    top: 20px;
    transform: translateY(150%);
    padding: 0 5px;
}

/* @media (min-width:768px){
    .ms_input_text{
        font-size: 20px;
    }
} */
/* END HEADER */


/* MIAN */
/* ASIDE */
.page_main{
    height: 100%;
}

.row_heigt{
    height: 100%;
}

.bg-051E34{
    background-color: #051E34;
}

.admin{
    margin-top: auto;
}
/* END ASIDE */
/* SECTION */
.bg-1B72E8{
    background-color: #1B72E8;
}
.plane_blaze,
.info_blaze{
    width: 100%;
}

@media (min-width:768px){
    .plane_blaze{
        display: flex;
    }
    .order{
        order: -1;
        flex-grow: 1;
    }
    .add_student{
        order: 2;
        padding: 0 20px;
    }
}
/* END SECTION */
/* END MAIN */